{% include "base.html" %}


<div class="container">
	<h2>tentang kanker</h2>
	<hr>

	<h3>Kanker merupakan kelainan sel pada suatu organisme.
		Pada wanita, kanker yang menyerang organ ovarium dan liang harim merupakan kanker dengan tingkat kematian yang paling tinggi.
	</h3>

		<h3>
			Parameter yang kami jadikan sebagai acuan, antara lain:
			<li><mark>Usia</mark></li>
			<li><mark>Perokok Aktif/Pasif</mark></li>
			<li><mark>Menikah/Belum	</mark></li>
			<li><mark>Pemakaian kontrasepsi hormonal</mark></li>
		</h3>

		<br>
		<h3>parameter diatas kemudian kami jadikan sebagai alat ukur awal (screening) terhadap kemungkinan adanya aktifitas kanker pada seseorang.
	</h3>

</div>
