<!DOCTYPE html>
<html>
<head>
	<title>canceri.fy</title>

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href='../static/css/me.css'>
	<script type="text/javascript" scr="../static/js/jquery.min.js'"></script>
	<script type="text/javascript" scr="../static/js/Chart.js'"></script>
	<script type="text/javascript" scr="../static/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/me.css')}}">
	<script type="text/javascript" scr="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script type="text/javascript" scr="{{url_for('static', filename='js/Chart.js')}}"></script>
	<script type="text/javascript" scr="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
	<div class="container">
		<h2 class="head name"><a href="/">cancer+ai </a><small>predict the probability of servical cancer</small></h2>
		<hr>
	</div>
</body>

</html>
